.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no_pressed, .yes_pressed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.no_pressed_pic {
  width: 500px;
  height: 400px;
}

.yes_pressed_pic {
  width: 350px;
  height: 350px;
}

.no_button {
  font-size: 16px;
  background-color: red;
  color: white;
  border: none;
  min-width: 70px;
  min-height: 30px;
  border-radius: 6px;
}

.yes_button {
  background-color: green;
  color: white;
  border: none;
  min-width: 70px;
  min-height: 30px;
  border-radius: 6px;
}

.yes_pressed h3{
  font-size: 35px;
}